@tailwind base;
@tailwind components;
@tailwind utilities;

* {
/* border: 1px solid red; */
margin:  0;
padding: 0;
box-sizing: border-box;
}


  /* .custom-scrollbar {
    scrollbar-width: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 100px;
  }
  .custom-scrollbar ::-webkit-scrollbar-thumb {
    background: #888;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }  */

